/*general styles  */

body {
    background: #f8f8f8;
    color: #00cc00;
    font-size: 16px;
    font-weight: 400;
    position: relative; 
    font-family: 'Lemonada', cursive;
}

html,body {
    /* overflow-x: hidden; */
    text-align: center;
}

@font-face {
    font-family: 'Lemonada';
    src: url(../fonts/Lemonada-Regular.ttf);
}
@font-face {
    font-family: 'Lemonada Bold';
    src: url(../fonts/Lemonada-Bold.ttf);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lemonada Bold', cursive;
    font-weight: bold;
}

hr {
    border-color: #00cc00;
    margin: 0 auto 20px auto;
    width: 100px !important;
}

/* home section */

#home {
    background: url('../images/tent3.jpg') 25% no-repeat fixed;
    background-size: 100%;
    color: #00cc00;
    height: 100vh;
}

#home h2 {
    letter-spacing: 2px;
}

#home .btn {
    background-color: #00cc00;
    border-radius: 4px; /*rounded border*/
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 20px 40px;
    margin-top: 60px;
}

#home .btn:hover {
    background: #fff;
    color: #00cc00;
    transition: all 0.4s ease-in-out;
}

/* navigation section */

nav {
    background: grey;
}

 nav div.container {
    text-align: left;
} 

 nav .nav-item {
    color: #00cc00;
} 

nav .navbar-brand {
    color: #00cc00;
}

nav button[type='button'] span.navbar-toggler-icon {
    color: #00cc00;
    
}

/* intro section */

#intro {
    padding-top: 180px;
    padding-bottom: 140px;
}

#intro h4 {
    padding-bottom: 16px;
}

/* inventory section */

#inventory {
    /* background-color: #fff; */
}

#inventory .container {
    width: 100%;
    padding: 0;
    margin: 0;
}

#inventory .title {
    padding: 100px 60px 60px 60px;
}

#inventory .bg-black {
    background-color: #303030;
    color: #fff;
}

#inventory .bg-green {
    background-color: #42f45f;
    color: #fff;
}

#inventory h3 {
    padding-bottom: 60px;
}

#inventory .fa {
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    line-height: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 40px;
    transition: all 0.4s ease-in-out;
}

#inventory .bg-black .fa:hover {
    background-color: #fff;
    border-radius: 50%;
    color: #303030;
}

#inventory .bg-green .fa:hover {
    background-color: #fff;
    border-radius: 50%;
    color: #42f45f;
}

#inventory .hidden {
    display: none;
    position: relative;
    z-index: 1;
}



/*********************************************** preview section **************************************************/

#preview {
    padding-top: 100px;
    padding-bottom: 100px;
}

#preview h2 {
    line-height: 20px;
}

#preview h3 {
    color: #42f45f;
    padding-bottom: 60px;
}

#preview img {
    border-radius: 1px;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 150px;
    opacity: 0.5;
    margin-bottom: 34px;
    transition: all 0.4s ease-in-out;
}

#preview img.img5, #preview img.img6 {
  transform: rotate(90deg);
}

#preview .img4 {
  transform: rotate(180deg);
}

#preview img:hover {
    opacity: 0.9;
}

/******************************** pricing section ***************************************/

#pricing {
    background: url('../images/tent4.jpg') 25% no-repeat fixed;
    background-color: #fff;
    background-size: 100%;
    padding-top: 100px;
    padding-bottom: 120px;
}

#pricing .inventory_pricing {
    background: transparent;
    color: #00cc00;
    border-radius: 10px;
    padding: 10px 0 10px 0;
}

#pricing ul {
    list-style-type: none;
}

#pricing button {
    background: #00cc00;
    color: #fff;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    transition: all 0.4s ease-in-out;
}

#pricing button:hover {
    background: #fff;
    color: #00cc00;
    box-shadow: 20px;
}

/************************ contact section ***************************************/

#contact {
    background: transparent;
    background-size: 100%;
    color: #00cc00;
    padding-top: 100px;
    padding-bottom: 80px;
}

#contact h2 {
    color: #00cc00;
}

#contact .form-control {
    border-radius: 4px;
    border: none;
    box-shadow: none;
    margin-top: 12px;
    margin-bottom: 14px;
}

#contact input {
    height: 50px;
}

#contact input[type="submit"] {
    background: #00cc00;
    color: #fff;
    height: 60px;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
    background-color: #fff;
    color: #00cc00;
}

/* footer section */

#footer {
    background-color: #00cc00;
    color: black;
}

#footer button.btn-footer {
    background-color: #00cc00;
    border-color: #fff;
    margin-bottom: 5px;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
    box-shadow: none;}


#footer button.btn-footer:hover {
    background-color: #fff;
    border-color: #00cc00;
    color: #00cc00;
}

/******************************************* inventory-listing ************************************/

#inventory_listings img {
    width: 200px;
    height: 200px;
}

#inventory_listings h2 {
    margin-top: 20px;
}